body {
    background-color: rgb(260, 240, 220);
    color: rgb(80, 40, 20);
}

.Volver {
    color: rgb(80, 40, 20);
}

table{
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 3px solid rgb(188,219,220);
  }

  table td {
    font-size: 18px;
    text-align: center;
    padding: 4px; 
  }




.Tablas12 {
    display: flex;
}



img {
    width: 350px;
    height: auto 
}