body {
    background-color: rgb(260, 240, 220);
    color: rgb(80, 40, 20);
}

.Volver {
    margin: 0;
    padding: 5px;
    font-family: Georgia, serif;
    color: rgb(80, 40, 20);
}

.A {
    color: rgb(60, 20, 0);
}

.B {
    color: rgb(60, 20, 0);
}

.C {
    color: rgb(60, 20, 0);
}

.logo {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 20px;
    left:50%;
    top: 50%;

}
