body {
    background-color: rgb(260, 240, 220);
    color: rgb(80, 40, 20);
}

.Volver {
    color: rgb(80, 40, 20);
}

table{
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 10px;
    border: 3px solid rgb(188,219,220);
  }

  table td {
    font-size: 18px;
    text-align: center;
    padding: 4px; 
  }




.Tablas12 {
    display: grid;
    gap: 20px;
    max-width: 500px;
    padding: 10px;

}

.Tablas12 .billete:hover {
    border-collapse: collapse;
    background-color:rgb(168,199,200); 
}



.Tablas12 img {
    width: 350px;
    height: auto;
}

.logo {
    display: block;
    width:10px;
    height:auto;
    margin: 30px;
}