body {
    background-color: rgb(260, 240, 220);
    color: rgb(80, 40, 20);
}

.Volver {
    color: rgb(80, 40, 20);
}

.logo {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 30px;
    left:50%;
    top: 50%;

}